<?xml version="1.0"?>

<launch>
   <arg name="multi_robot_name" default="robot"/>
   <arg name="set_run_rviz" default="0"/>
   <arg name="set_port" default="/dev/ttyUSB2"/>
   <arg name="set_joy_en" default="0"/>
<!-- Launch R-1 default -->

      <include file="$(find omoros)/launch/includes/r1_description.launch.xml">
      </include>      
      <node pkg="omoros" type="case1.py" name="omoros" output="screen">
         <param name="port" value="$(arg set_port)"/>
         <param name="baud" value="115200"/>
         <param name="modelName" value="r1"/>
      </node>

      <group if="$(eval arg('set_run_rviz')==1)">
         <node pkg="rviz" type="rviz" name="rviz" args="-d $(find omoros)/r1_description/rviz/model.rviz"/>

      </group>
</launch>
